body{
    background: radial-gradient(50% 50% at 50% 50%, #F97D0A 0%, rgba(249, 125, 10, 0) 75.06%);
    background-color:#BF0606;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #FEFEFE;
}
.satu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.satu #p1{
    position: relative;
    top :4rem;
    font-size: 5rem;
    line-height: 6rem;
}
.satu #p2{
    position: relative;
    top : 6rem;
    font-size: 1.8rem;
    line-height: 3.7rem;
}
#p3{
    position: relative;
    z-index: 2;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
}
#myCanvas{
    position: absolute;
    width: 1349px;
    height: 250px;
    left: 0px;
    top: -46px;
    z-index: 1;
    background: linear-gradient(180deg, #F48723 58.75%, #F48723 63.98%, rgba(244, 135, 35, 0) 98.02%);
}
.navigasi{
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    top: 13rem;
    width: auto;
}
.navigasi button{
    text-align: center;
    margin: 1rem;
    border-radius: 0.8rem;
    background-color: #FEFEFE;
    border-color: black;
    transition-duration: 0,4s;
    border: 0.3rem solid black;
}
button:hover {
    background-color: #BF0606;
}
.navigasi ul button a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.65rem;
    padding: 3rem;
    color:white;
}

.PROFILE2{
    position: relative;
    top:80px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.PROFILE2 img{
    position: relative;
    width: 28rem;
    height: 20rem;
    z-index: 2;
    border-radius: 22px;
    margin: 5rem;
}
.PROFILE2 #p4{
    position: relative;
    width: 28rem;
    height: 27.6rem;
    font-size: 1.56rem;
    z-index: 2;
    line-height: 3rem;
    top : 3rem;
}


.EDUCATION2{
    position: relative;
    top:75px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    padding :10px;
}
.EDUCATION2-item{
    margin: 0.8rem;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    color : #BF0606;
    width :12rem;
    height:12rem;
    background:linear-gradient(180deg, #fcf8f8 45.31%, rgba(255, 114, 114, 0) 96.87%);
    border-radius: 50%;
    padding: 3rem;
}
.EDUCATION2-item a{
    text-decoration: none;
}


.PORTOFOLIO1{

    position: relative;
    top:80px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}
.PORTOFOLIO1 img{
    position: relative;
    width: 18rem;
    height: 20rem;
    z-index: 2;
    border-radius: 22px;
    margin: 5rem;
}
.PORTOFOLIO1 p{
    position: relative;
    width: 22rem;
    height: 27.6rem;
    font-size: 1.56rem;
    z-index: 2;
    line-height: 3rem;
    top : 3rem;
}
.PORTOFOLIO1 #p4{
    font-size: 2.2rem;
}
.PORTOFOLIO2{
    position: relative;
    top:80px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: first baseline;
}
.PORTOFOLIO2 img{
    position: relative;
    width: 15rem;
    height: 17rem;
    z-index: 2;
    border-radius: 22px;
    margin: 3.4rem;
}
.PORTOFOLIO2 #amazon{
    width: 18.5rem;
}
.PORTOFOLIO2 p{
    position: relative;
    width: 17rem;
    height: 27.6rem;
    font-size: 1.56rem;
    z-index: 2;
    line-height: 3rem;
    top : 3rem;
}


.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

}
.bar{
    background: #f7fc00;
    display: block;
    height: 8px;
    width: 50rem;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(25, 243, 5, 0.702) 231, 33, 0.702) 231, 33, 0.702);
}
.bar span{
    height: 8px;
    float: left;
    background: black;
}
.java{
    width: 80%;
    animation: java 3s;
}
.python{
    width: 90%;
    animation: python 3s;
}
.word{
    width: 90%;
    animation: word 3s;
}
.power{
    width: 80%;
    animation: power 3s;
}
.excel{
    width: 75%;
    animation: excel 3s;
}
.musik{
    width: 60%;
    animation: musik 3s;
}

@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes word{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}@keyframes power{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}@keyframes excel{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}@keyframes musik{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}

.CONTACT{
    position: relative;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    z-index: 2;
}
.CONTACT #p5{
    position: relative;
    font-style: normal;
    font-size: 5rem;
    z-index: 2;
}
.CONTACT #p6{
    position: relative;
    font-style: normal;
    font-size: 2rem;
    z-index: 2;
}
.Lingkaran{
    display: flex;
    justify-content: center;
    position: relative;
    width:auto;
    z-index: 1;
}
#lingkaran{
    position: relative;
    align-self: center;
    width :76rem;
    height:76rem;
    top :-70rem;
    background: radial-gradient(50% 50% at 50% 50%, #F48723 86.34%, rgba(244, 135, 35, 0) 100%);
    border-radius: 50%;
}
.PHOTO{
    position: relative;
    display: flex;
    width:auto;
    justify-content: space-evenly;
    z-index: 2;
}
.PHOTO img{
    height: 6rem;
    width: 6rem;
}
.PHOTO #line{
    width:8.5rem;
}
#contact{
    top: 5rem;
    z-index: 2;
}
